@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styling */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* container styling */
.container {
    background-color: white;
    width: 100%;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* container header styling */
header {

    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;

}

/* header font styling */
header h3 {
    font-weight: 600;

}

header p {
    font-weight: lighter;

}

/* task input styling */
.task-add-section {
    display: flex;
    margin-bottom: 25px;
    gap: 10px;


}

/* task input field styling */
#input-task {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

#input-task:focus {
    border-color: black;
}

/* all button styling */
button {
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    transition: background-color 0.3s, transform 0.2s;

}

button:hover {
    background-color: #222222;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(0);
}

/* task list-section styling */
#task-list {
    list-style: none;
    margin-bottom: 30px;
}

/* task list styling */
#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;

}

/* styling the task which will be complete */
#task-list li.complete {
    text-decoration: line-through;
    color: #222222;
    background-color: antiquewhite;
}

/* point only the li text */
#task-list li .task-text {
    cursor: pointer;
}

/* styling a delete btn which will be add and functioned by js */
.delete-btn {
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    transition: background-color 0.3s, transform 0.2s;
}

.delete-btn:hover {
    background-color: #a83131;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* focus section styling */

.focus-tool {

    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

/* styling the focus section card and stop-watch section card */
.focus-section,
.stopwatch-section {
    flex: 1;
    background-color: #FFFDD0;
    /* border: 1px solid gray; */
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}

/* styling the h4 in card */
h4 {
    font-size: 18px;
    font-weight: 500;
}

/* style the time controllers */
#timer-controls {
    margin: 0.5px;
    /* background-color: pink; */
    padding: 5px;

}

#timer-controls button {
    padding: 8px 15px;
}

/* styling focus timer input */
.timer-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#timer-input {
    width: 70px;
    text-align: center;
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

#timer-input:focus {
    border-color: black;
}

/* styling timer display */

.timer-display{
    font-size: 2.5em;
    font-weight: 600;
    margin: 10px 0;
}